.homepage {
    width: 98vw; 
    display: flex;
    flex-direction: column;
}

.login-status-bar {
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
}

.homepage-body {
    height: calc(100vh - 25px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-buttons {
    display: flex;
}